/* common */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    height:100vh;  
}
li img{
    width: 18px;
    
}
a{
    text-decoration: none;
}
ul a{
    text-decoration: none;
}
li a i{
    padding-left: 0;
}
div p img{
    width: 25px;
}
li{
    font-size: 18px;
    margin-bottom:;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
.d-flex{
    display: flex;
    height: calc(100% - 100px);
}
.justify-content-between{
    justify-content: space-between;
}
.b-50{
        border-radius: 50%;
}
i{
    color: white;
    padding-left: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    padding-bottom: 2rem;
}
.col-2{
    width: calc((100%/12)*2);
    
}
.m-left{
    margin-left: 1rem;
}
/* debug */

.debug *{
    border: 1px dashed black;
}

.debug .col-2{
    
    margin: 1.5em;
}
.debug .top_bar{
    width: 100%;
    height: 90px;
}
.debug .main-container{
    width: 100%;
    
}
.debug .bottom_bar{
    width: 100%;
    height: auto;
}
/* sidebar */
.sidebar{
    background-color: #000000;
    height:100%;
    width: 230px;
    overflow: hidden;
    
}
.logo{
    height: 55px;
    width: 70%;
    padding: 0.5rem;
}
.navigation ul a{
    color: #696969;
    padding: 0.5rem;
    margin: 0.5rem;
    list-style: none;
    text-decoration: none;
}
.new_playlist{
    height: 100%;
}
.new_playlist ul a{
    color: #696969;
    margin-left: 0.5rem;
    list-style: none;
    text-decoration: none;
}
.new_playlist h4{
    color: white;
    margin-top: 0.7rem;
    padding-left: 1.1rem;
}

.btm_sidebar{
    color: #696969;
    
}
.container-small{
   display: flex;
    flex-direction: column;
   align-items:flex-start;
   justify-content: space-between; 
   height: calc(100% - 175px);
   
    
}
.navigation li{
    font-size: 15px;
}
.btm_sidebar .f-s{
    font-size: 15px;
}
.tp_sidebar li{
    font-size: 15px;
}

div.sidebar{
    
}
/* topbar */
.btn{
    align-self: center;
    align-items: center;
    background-color: #080b12;
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 1rem;
    cursor: pointer;
}
.top_bar{
    background-color: #080b12;
    justify-content: end;
    height: 90px;
}
.genres ul li{
    margin: 1rem;
    color: #696969;
}
div.genres.d-flex{
    justify-content: center;
}
/* main container */

.main-container{
    background-color: #141922;
    width: calc(100% - 90px);
    height: 100%;
    overflow-y: scroll;
    
}
.txt{
    color: white;
    padding: 1rem;
    font-size: 25px;
}
.txt2{
    color: #696969;
    padding-left: 1rem;
}
.txt3{
    color: white;
    font-size: 17px;
    text-align: center;
}
.txt4{
    color: #696969;
    margin-top: 0.5rem;
    font-size: 15px;
    text-align: center;
}
div.top_bar.d-flex{
    max-width: 100%;
    height: 55px;
}
/* bottom bar */
.bottom_bar{
    background-color: #282828;
    width: 100%;
    height: 100px;
    position: fixed;
    
}
.song{
    text-align: left;
   margin-top: 1.5rem;
}   
.txt5{
    font-size: 15px;
    color: white;
    border:0;

}
.txt6{
    font-size: 10px;
    color: #696969;
    border:0;
}
.icons{
   padding-left: 0px;
   height: 100px;
   align-content: center;
}
.right{
    align-items: center;
    padding-right: 1rem;
    height: 100px;
}

/* occurance */
.d-n{
    display: none;
}
.p-r{
    position: relative;
    
}
.nv-pl{
    text-align: center;
}
.b-b{
    border-bottom: 1px solid #adff2f;
}
div .playbutton i{
    display: none;
    position:absolute;
    top: 40%;
    left: 35%;
    
    
}
.clr{
    color: #696969
}
.n_p{
    width: 20px;
    height: 20px;
    filter: invert(1);
    margin: 0.5rem;
}
.n_p2{
    width: 30px;
    height: 30px;
    filter: invert(1);
    margin: 0.5rem;
}
.w-30{
    width: 30%;
   
    margin-left: 1rem;
    
}
.p-1{
    padding: 1rem;
}
/* progress bar */
.progress-bar{
    width: 300px;
    height: 5px;
    margin: 1rem;
    background-color: #5a5a5a;
    border-radius: 20px;
    
}
.left-time{
    width: 25%;
    height: 5px;
    background-color:#c1c1c1 ;
}
.time{
    margin-top: 0.4rem;
    color: white;
}
.progress-bar2{
    width: 150px;
    height: 5px;
    margin: 1rem;
    background-color: #5a5a5a;
    border-radius: 20px;
   
}
div .right .fa{
    font-size: 24px;
}

/* hover */
.btn:hover { 
    filter: brightness(1.4)
  }
  .btn:hover{
    transform: scale(1.1);
  }
    a:hover{
    filter: brightness(1.4);
    }
 .n_p2:hover{
    transform: scale(1.1);
    
 }  
 
 div .playbutton:hover{
    display: block;
 }

.main-container img:hover{
    filter: opacity(0.1);
}

.left-time:hover{
    background-color: #adff2f;
}

/* query */
@media screen and (max-width: 1200px) {
    .progress-bar-md{
        width: 200px;
    }
   .vol{
    font-size: 16px;
   }
   .progress-bar2-md{
    width: 100px;
   }
}

@media screen and (max-width: 1100px) {
    .row-md{
        flex-wrap: wrap;
    }
    .col-3-md{
        width: calc((100% /12)*3);
    }    
    
    .n_p{
        width: 15px;
        height: 15px;
    }
    .n_p2{
        width: 20px;
        height: 20px;
    }
    .time{
        font-size: 12px;
    }
    .progress-bar-md{
        width: 200px;
    }
   .vol{
    font-size: 16px;
   }
   .progress-bar2-md{
    width: 100px;
   }
} 

@media screen and (max-width: 992px) and (min-width:601px) {
    .progress-bar-mmd{
        width: 100px;
    }
    .progress-bar2-mmd{
        width: 50px;
    }
    @media screen and (min-width: 780px) {
        .progress-bar-mmsd{
            justify-content: center;
            width: 80px;
        }
        .progress-bar2-mmsd{
            width: 40px;
        }
        .vol{
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 700px) {
    .col-6-sm{
        width: calc((100% /12)*6);
    }
    .row-s{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media screen and (max-width: 600px) {
    .row-s{
        flex-wrap: wrap;
        justify-content: center;
    }
    .sidebar{
        width: 50px;
    }
    .txt-s{
        display: none;
    }
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .big{
        width: 25px;

    }
    .main-container{
        width: calc(100% - 50px);
    }
    .d-n{
        display: block;
        margin-left: 0.5rem;
    }
    .w-15{
        width: 15%;
    }
    
    .progress-bar-sm{
        width: 60px;
    }
    .row-sm{
        flex-wrap: wrap;
        justify-content: center;
    }

    .progress-bar2-sm{
        width: 40px;
    }
}

    

